* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


:root {

    --f1-color: #fff;
    --f2-color: #000;
    --f3-color: rgba(0, 0, 0, 0.8);
    --f4-color: rgba(0, 0, 0, 0.6);
    --f5-color: #0099cc;
    --f6-color: #88cee6;


    --bg1-color: #fff;
    --bg2-color: #000;
    --bg3-color: green;
    --bg4-color: green;
    --bg5-color: green;
    --bg6-color: rgba(0, 0, 0, 0.4);
    --bg7-color: rgba(0, 0, 0, 0.2);
    --glass-bg: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.3));
    --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);


    --xxxl-fs: 2.2rem;
    --xxl-fs: 1.8rem;
    --xl-fs: 1.6rem;
    --l-fs: 1.4rem;
    --m-fs: 1.2rem;
    --s-fs: 1.1rem;
    --xs-fs: 1rem;


    --m-2-5: 2.5rem;
    --m-1-8: 2.3rem;
    --m-1-5: 1.5rem;
    --m-0-6: 0.6rem;
    --m-0-5: 0.5rem;
    --m-0-3: 0.3rem;


    --p-2-5: 2.5rem;
    --p-1-5: 1.5rem;
    --p-1-0: 1rem;
    --p-0-8: 0.8rem;
    --p-0-5: 0.8rem;
    --p-0-4: 0.4rem;
    --p-0-3: 0.3rem;
}

.home-section {
    position: relative;
    background: #ffffff;
    min-height: 100vh;
    top: 0;
    padding-left: 2%;
    transition: all 0.5s ease;
    z-index: 2;


}


.container-bio {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "userProfile userDetails"
        "work_skills timeline_about"
        "work_skills timeline_about";
    width: 85%;
    height: 80vh;
    grid-gap: 10px;
    padding: 20px;
    background: rgba(234, 255, 247, 0.23);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.23), 0 0 25px rgba(67, 67, 67, 0.08);
    border-radius: 20px;
}



.userProfile {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: userProfile;
}

.work_skills {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: work_skills;
}

.userDetails {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: userDetails;
}

.timeline_about {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: timeline_about;
}


.container header .brandLogo figure img {
    width: 3.5rem;
    height: 3.5rem;
}

.container header .brandLogo span {
    font-size: var(--xl-fs);
    font-weight: 700;
    margin-left: var(--m-0-5);
}

figure img {
    border-radius: 50%;
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userDetails,
.work_skills,
.timeline_about,
.userProfile {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.153);
}

.work_skills {
    padding: 20px;
}

.container .userProfile .profile figure img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border: solid 4px green;
}

.userDetails {
    position: relative;
    padding: var(--p-1-5) var(--p-2-5);
}

.userDetails .userName h1 {
    font-size: var(--xxxl-fs);
}

.userDetails .userName .map {
    position: absolute;
    top: 2.5rem;
    left: 22.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetails .userName .map .ri {
    margin-right: var(--m-0-3);
    font-size: var(--m-fs);
}

.userDetails .userName .map span {
    font-size: var(--s-fs);
    color: var(--f3-color);
    font-weight: 700;
}

.userDetails .userName p {
    font-size: var(--m-fs);
    font-weight: 700;
    color: green;
    ;
    margin-bottom: var(--m-1-8);
}

.userDetails .rank {
    position: relative;
    margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
    font-size: var(--xs-fs);
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
    font-size: 4.5rem;
    font-weight: 700;
}

.userDetails .rank .rating {
    position: absolute;
    top: 4.8rem;
    left: 8rem;
}

.userDetails .rank .rating .rate {
    color: var(--f5-color);
    font-size: var(--l-fs);
}

.userDetails .rank .rating .underrate {
    color: var(--f6-color);
}

.userDetails .btns ul,
.userDetails .btns ul li {
    display: flex;
    align-items: center;
}

.userDetails .btns ul li {
    margin-right: var(--m-2-5);
    border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
    margin-right: var(--m-0-5);
    font-size: var(--xl-fs);
}

.userDetails .btns ul li a {
    font-size: var(--l-fs);
    color: #fff;
    font-weight: 400;
    background: rgba(102, 163, 102, 0.433);
    padding: var(--p-0-5) var(--p-1-5);
    border-radius: 30px;
    border: 2px solid rgb(0, 86, 1);
    transition: all ease-in-out .5s;
}



.userDetails .btns ul li a:hover {
    color: #fff;
    font-weight: 450;
    background: rgb(51, 103, 51);
    box-shadow: 34.495px 49.0927px 94px rgba(0, 0, 0, 0.14), 17.4631px 24.8532px 40.9781px rgba(0, 0, 0, 0.0945), 6.899px 9.81854px 15.275px rgba(0, 0, 0, 0.07), 1.50916px 2.14781px 5.43437px rgba(0, 0, 0, 0.0455);
}



.userDetails .btns ul .active a,
.userDetails .btns ul .active .ri {
    color: white;
}


.timeline_about {
    padding: var(--p-2-5);
}

.timeline_about .tabs ul {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: var(--m-2-5);
}

.timeline_about .tabs ul::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--bg7-color);
}

.timeline_about .tabs ul li {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: var(--m-2-5);
    padding-bottom: var(--p-0-8);
    cursor: pointer;
}

.timeline_about .tabs ul li span {
    font-size: var(--l-fs);
    font-weight: 500;
}

.timeline_about .tabs ul li .ri {
    margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bg5-color);
}

.timeline_about .contact_info h1 {
    font-size: 3rem;
}

.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading {
    font-size: var(--xs-fs);
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
    display: flex;
    margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1 {
    font-weight: 500;
    font-size: var(--m-fs);
    min-width: 12rem;

}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
    font-size: var(--m-fs);
    color: green;
    font-weight: 400;
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
    color: var(--f5-color);
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }


    .container-bio {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "userProfile"
            "userDetails"
            "work_skills"
            "timeline_about";
        overflow-x: hidden;
        overflow-y: inherit;
        padding: 0;
        width: 90%;
        height: 100%;
        box-shadow: none;
    }




    .container-bio .card {
        backdrop-filter: none;
    }

    .userDetails {
        margin-bottom: 3rem;
    }

    .container-bio::before,
    .container-bio::after {
        display: none;
    }


    .container-bio header {
        padding: 2.5rem;
    }
}